In [1]:
# !pip install pandas
# !pip install sklearn
# !pip install openpyxl

In [20]:

import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [43]:
# Data preprocessing

import pandas as pd
base = '/Users/rana/Desktop/Ajay Kumar/Term 3/ZA/stats_arb_with excess returns/Boson'
file_path = base+'/boson data/G10 USD Crosses 1998-2023_1col.xlsx'
final_df = pd.DataFrame()
xls = pd.ExcelFile(file_path)

for sheet_name in xls.sheet_names:
    FX_data = pd.read_excel(xls, sheet_name=sheet_name, usecols='A,B', index_col=0)
    FX_data.columns = [sheet_name]
    if final_df.empty:
        final_df = FX_data.copy()
    else:
        final_df = final_df.merge(FX_data, left_index=True, right_index=True, how='outer')
final_df.fillna(method='ffill', inplace=True)

# for remaining nans backfill
final_df.fillna(method='bfill', inplace=True)

final_df_price = final_df[final_df.index <= '2022-12-31']

final_df_returns = final_df_price.pct_change()
final_df_returns = final_df_returns.rename_axis('Date')
final_df_returns.dropna(inplace=True)
display(final_df_returns)

,GBPUSD,EURUSD,JPYUSD,CHFUSD,SEKUSD,NOKUSD,CADUSD,NZDUSD,AUDUSD
Date,,,,,,,,,
1998-01-02,-0.001578,0.000000,-0.013446,-0.007442,-0.004525,-0.004422,0.003431,-0.004651,0.000326
1998-01-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998-01-05,-0.009240,-0.008283,-0.008204,-0.007057,-0.009730,-0.007402,0.000712,-0.014538,-0.017023
1998-01-06,-0.005890,-0.002042,-0.005604,-0.002369,-0.009100,-0.010440,-0.005694,-0.011767,-0.008943
...,...,...,...,...,...,...,...,...,...
2022-12-27,-0.003067,0.000282,-0.004651,0.003262,0.002688,0.000984,0.004346,-0.003335,0.000808
2022-12-28,-0.000582,-0.002632,-0.007342,0.000000,-0.000461,-0.006883,-0.006356,0.005577,0.000809
2022-12-29,0.003079,0.004617,0.010893,0.006317,0.001037,0.001980,0.004491,0.005704,0.006033
2022-12-30,0.002323,0.004127,0.014633,-0.001385,0.003726,0.007905,-0.000406,0.000473,0.005110
2022-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [49]:
final_df_price.head(5)

,GBPUSD,EURUSD,JPYUSD,CHFUSD,SEKUSD,NOKUSD,CADUSD,NZDUSD,AUDUSD
DATES,,,,,,,,,
1998-01-01,1.6476,1.0866,0.007660,0.6853,0.12596,0.1357,0.6996,0.5805,0.650830
1998-01-02,1.6450,1.0866,0.007557,0.6802,0.12539,0.1351,0.7020,0.5778,0.651042
1998-01-03,1.6450,1.0866,0.007557,0.6802,0.12539,0.1351,0.7020,0.5778,0.651042
1998-01-04,1.6450,1.0866,0.007557,0.6802,0.12539,0.1351,0.7020,0.5778,0.651042
1998-01-05,1.6298,1.0776,0.007495,0.6754,0.12417,0.1341,0.7025,0.5694,0.639959

In [33]:
ff_data = pd.read_csv(base+'/boson data/F-F_Research_Data_5_Factors_2x3_daily.csv',index_col='Date')[['RF']]

In [37]:
sfx_ret = sfx_ret.merge(ff_data,how='left',on='Date')
sfx_ret.head()

,GBPUSD,EURUSD,JPYUSD,CHFUSD,SEKUSD,NOKUSD,CADUSD,NZDUSD,AUDUSD,RF
Date,,,,,,,,,,
1998-01-02,-0.001578,0.000000,-0.013446,-0.007442,-0.004525,-0.004422,0.003431,-0.004651,0.000326,0.021
1998-01-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
1998-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
1998-01-05,-0.009240,-0.008283,-0.008204,-0.007057,-0.009730,-0.007402,0.000712,-0.014538,-0.017023,0.021
1998-01-06,-0.005890,-0.002042,-0.005604,-0.002369,-0.009100,-0.010440,-0.005694,-0.011767,-0.008943,0.021

In [48]:
# !pip install sklearn
# !pip install scikit-learn

sfx_ret = final_df_returns
# Load the data
ff_data = pd.read_csv(base+'/boson data/F-F_Research_Data_5_Factors_2x3_daily.csv',index_col='Date')[['RF']]
ff_data.index = pd.to_datetime(ff_data.index)

sfx_ret = sfx_ret.merge(ff_data,how='left',on='Date')


sfx_ret['RF'].fillna(method='ffill',inplace=True)
sfx_ret = sfx_ret.applymap(pd.to_numeric, errors='coerce')

for _ in list(sfx_ret.columns)[:-1]:
    sfx_ret[_] = sfx_ret[_] - sfx_ret['RF']/100
    
sfx_ret.drop(columns=['RF'],inplace= True)
sfx_ret.to_csv(base+'/boson data/FX_Excess_Returns_final.csv')
print (sfx_ret.head(5))

window = 60
resid = np.empty(shape=sfx_ret.shape)
resid[:] = np.NAN
resid3 = np.empty(shape=sfx_ret.shape)
resid3[:] = np.NAN
resid5 = np.empty(shape=sfx_ret.shape)
resid5[:] = np.NAN

# Loop over each rolling window
for j in range(window, sfx_ret.shape[0]):
    try:
        # Extract the rolling window data from 0 to 60 (not including 60th index)
        rolling_ret = sfx_ret.iloc[(j - window):j, :]
        
        # Standardize the data
        scaler = StandardScaler()
        rolling_ret_scaled = scaler.fit_transform(rolling_ret)
        
        # Fit PCA 1-Factor ----------------------------------------------------
        pca = PCA(n_components=1)
        pca.fit(rolling_ret_scaled)
        
        # Standardize the asset returns at time j and project them onto the principal component (take 59th index)
        asset_ret_scaled = scaler.transform(sfx_ret.iloc[j-1:j, :])
        projection = pca.transform(asset_ret_scaled)
        residual = asset_ret_scaled - pca.inverse_transform(projection)
        
        # Store the residuals at 60th position
        resid[j-1, :] = residual
        

        # Fit PCA 3-Factor ----------------------------------------------------
        pca3 = PCA(n_components=3)
        pca3.fit(rolling_ret_scaled)
        
        # Standardize the asset returns at time j and project them onto the principal component
        asset_ret_scaled3 = scaler.transform(sfx_ret.iloc[j-1:j, :])
        projection3 = pca3.transform(asset_ret_scaled3)
        residual3 = asset_ret_scaled3 - pca3.inverse_transform(projection3)
        
        # Store the residuals
        resid3[j-1, :] = residual3

        # Fit PCA 3-Factor ----------------------------------------------------
        pca5 = PCA(n_components=3)
        pca5.fit(rolling_ret_scaled)
        
        # Standardize the asset returns at time j and project them onto the principal component
        asset_ret_scaled5 = scaler.transform(sfx_ret.iloc[j-1:j, :])
        projection5 = pca5.transform(asset_ret_scaled5)
        residual5 = asset_ret_scaled5 - pca5.inverse_transform(projection5)
        
        # Store the residuals
        resid5[j-1, :] = residual5
        
    except Exception as e:
        print("ERROR", j, str(e))
        resid[j-1, :] = np.nan
        resid3[j-1, :] = np.nan
        resid5[j-1, :] = np.nan
        


# Create a DataFrame for the residuals
resid_df = pd.DataFrame(resid, index=sfx_ret.index, columns=sfx_ret.columns)
resid_df.to_csv(base+'/boson data/FX_PCA_1_FACTOR_RESID_DAILY.CSV')

resid3_df = pd.DataFrame(resid3, index=sfx_ret.index, columns=sfx_ret.columns)
resid3_df.to_csv(base+'/boson data/FX_PCA_3_FACTOR_RESID_DAILY.CSV')

resid5_df = pd.DataFrame(resid5, index=sfx_ret.index, columns=sfx_ret.columns)
resid5_df.to_csv(base+'/boson data/FX_PCA_5_FACTOR_RESID_DAILY.CSV')

              GBPUSD    EURUSD    JPYUSD    CHFUSD    SEKUSD    NOKUSD  \
Date
1998-01-02 -0.001788 -0.000210 -0.013656 -0.007652 -0.004735 -0.004632
1998-01-03 -0.000210 -0.000210 -0.000210 -0.000210 -0.000210 -0.000210
1998-01-04 -0.000210 -0.000210 -0.000210 -0.000210 -0.000210 -0.000210
1998-01-05 -0.009450 -0.008493 -0.008414 -0.007267 -0.009940 -0.007612
1998-01-06 -0.006100 -0.002252 -0.005814 -0.002579 -0.009310 -0.010650

              CADUSD    NZDUSD    AUDUSD
Date
1998-01-02  0.003221 -0.004861  0.000116
1998-01-03 -0.000210 -0.000210 -0.000210
1998-01-04 -0.000210 -0.000210 -0.000210
1998-01-05  0.000502 -0.014748 -0.017233
1998-01-06 -0.005904 -0.011977 -0.009153

In [19]:
ff_data.head(5)

Empty DataFrame
Columns: [Unnamed, Mkt-RF, SMB, HML, RF, DATES]
Index: []

In [38]:
# xy = pd.read_csv('Downloads/FF3_DAILY.csv', on_bad_lines='skip')

In [39]:
# xy.index = xy['Unnamed: 0']

In [40]:
# xy=xy[:-2]

In [41]:
# xy.index = pd.to_datetime(xy.index)

In [42]:
# ff_data.index

In [43]:
# common_index = ff_data.index.intersection(sfx_ret.index)
# ff_data = ff_data.loc[common_index] / 100

In [44]:
# common_index

In [45]:
# sfx_ret

In [46]:
# rolling_ret

In [47]:
# scaler = StandardScaler()
# rolling_ret_scaled = scaler.fit_transform(rolling_ret)

In [48]:
# rolling_ret_scaled

In [49]:
# pca = PCA(n_components=1)
# pca.fit(rolling_ret_scaled)

PCA(n_components=1)

In [50]:
# asset_ret_scaled = scaler.transform(asset_ret.iloc[60 - 1:60].values.reshape(1, -1))
# # projection = pca.transform(asset_ret_scaled)

In [51]:
# asset_ret.iloc[60 - 1:60].values.reshape(1, -1)

In [52]:
# asset_ret.iloc[62:63].values

In [53]:
# asset_ret

In [54]:
# sfx_ret.shape[1]

In [58]:
# PCA 1-factor
resids_1 = pd.DataFrame(resid)
display(resids_1)

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9126,-0.422597,-0.112749,-0.630166,0.391295,0.256375,0.051637,0.908740,-0.555884,-0.048426
9127,0.251921,-0.248439,-0.634781,0.188824,0.260308,-0.401418,-0.934254,0.927733,-0.403477
9128,-0.248737,0.059834,0.533660,0.317370,-0.525593,-0.426108,0.390806,0.002248,-0.064966
9129,-0.124673,0.188548,1.071090,-0.746069,0.011427,0.412193,-0.391582,-0.446462,-0.170844
9130,0.042194,-0.082325,-0.100933,-0.076148,0.039472,0.045994,0.120179,-0.038556,-0.034977

In [59]:
# PCA 3-factor
resids_3 = pd.DataFrame(resid3)
display(resids_3)

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9126,-0.378218,-0.158650,0.112167,0.431380,0.213862,0.012018,0.636461,-0.657633,0.135416
9127,0.253262,-0.403843,-0.199162,-0.085842,0.097768,-0.371855,-0.842840,1.008687,-0.452846
9128,-0.223293,0.167060,0.109862,0.502355,-0.395334,-0.467406,0.301292,0.007434,-0.072222
9129,-0.124776,0.352412,-0.014809,-0.521417,0.231138,0.392794,-0.346291,-0.363193,-0.316411
9130,0.073643,-0.069567,-0.010612,-0.031013,0.064201,0.020356,0.010679,-0.050408,0.009748

In [60]:
# PCA 5-factor
resids_5 = pd.DataFrame(resid5)
display(resids_5)

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9126,-0.378218,-0.158650,0.112167,0.431380,0.213862,0.012018,0.636461,-0.657633,0.135416
9127,0.253262,-0.403843,-0.199162,-0.085842,0.097768,-0.371855,-0.842840,1.008687,-0.452846
9128,-0.223293,0.167060,0.109862,0.502355,-0.395334,-0.467406,0.301292,0.007434,-0.072222
9129,-0.124776,0.352412,-0.014809,-0.521417,0.231138,0.392794,-0.346291,-0.363193,-0.316411
9130,0.073643,-0.069567,-0.010612,-0.031013,0.064201,0.020356,0.010679,-0.050408,0.009748